/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Dancing+Script:wght@400;700&family=Dangrek&family=Fasthand&family=Khmer&family=Nokora:wght@100;300;400;700;900&family=Poppins&family=Suwannaphum:wght@700&display=swap');



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
::-webkit-scrollbar {
  display: none;
}


/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.screen {
  background: #fff;
  height: 120px;
  width: 90%;
  margin: 15px 0;
  box-shadow: 0px 3px 30px rgba(255,255,255,0.7);
  
  border: solid 5px #fff;
  border-color: #fff transparent transparent transparent;
  }

  .tabs-container {
    position: relative;
  }

  .tabs-container {
    position: sticky;
    top: 0px; /* Adjust this value based on the height of your navigation bar */
    z-index: 1;
  }
 
  .shadow-white {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }

  [data-placeholder]::after {
    content: " ";
    box-shadow: 0 0 50px 9px rgba(254,254,254);
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%; 
    animation: load 1s infinite;
}
@keyframes load {
    0%{ left: -100%}
    100%{ left: 150%}
}